
        #divUsu { /*pagina do usuario,index e funcionario*/
 
        width:500px; /* Tamanho da Largura da Div */
    height:200px; /* Tamanho da Altura da Div */
        position:absolute; 
        top:50%; 
        margin-top:-100px; /* ou seja ele pega 50% da altura tela e sobe metade do valor da altura no caso 100 */
        left:50%;
       margin-left:-250px; /* ou seja ele pega 50% da largura tela e diminui  metade do valor da largura no caso 250 */
    background-color:#Fff;
}
#footer { /* modalidade E professor index*/
position: fixed;

   top: 50px;

   width: 50px;

   z-index: 400;

   right: 0pt;
}
